<div class="font-mono">
  <div class="w-full h-96 border-bluegray-100 relative font-mono">
    <%= image_tag "/uploads/sushiboat.jpeg", class: "h-full w-full object-cover" %>
    <div class="p-3 rounded absolute bottom-0 left-0 flex flex-col justify-center w-1/4 bg-teal-100 bg-opacity-50 space-y-2">
      <h2 class="font-bold text-lg"><%= @articles.first.title %></h2>
      <h3 class="text-md"><%= truncate(@articles.first.text, length: 35, separator: ' ') %></h3>
      <p class="capitalize">Author: <%= @articles.first.user.username %></p>
      <p><%= link_to 'Read More', article_path(@articles.first), class:"text-xs italic" %></p>
    </div>
  </div>
  <div class="flex flex-row bg-gray-300 flex-wrap">
    <% @articles.each_with_index do |article, index| %>
      <div class="w-1/4 h-full relative">
        <img src="/uploads/<%= article.image %>" class="object-cover h-64 w-full" />
        <div class="p-3 rounded absolute bottom-0 bg-teal-100 bg-opacity-50 w-full space-y-2">
          <h2 class="font-bold text-lg"h2><%= article.title %></h2>
          <h3 class="text-md"><%= truncate(article.text, length: 35, separator: ' ') %></h3>
          <p class="capitalize">Author: <%= article.user.username %></p>
          <p><%= link_to 'Read More', article, class:"text-xs italic" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
