<p id="notice"><%= notice %></p>      
    
<div class="grid grid-cols-4 grid-rows-2 bg-gray-300">

<% @articles.each_with_index do |article, index| %>
<div class="w-full first:row-span-4 col-span-2">
  <img src="/uploads/<%= article.image %>" class="h-64 w-full object-cover">
</div>
    <%= article.title %>
    <%= truncate(article.text, length: 30, separator: ' ') %>
    <%= article.user.username %>
    <%= link_to 'Read More', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'New Article', new_article_path %>
  <% end %>
      

</div>


