<div class="font-mono">
  <div class="w-full h-96 border-bluegray-100 relative font-mono">
    <%= image_tag "/uploads/sushiboat.jpeg", class: "h-full w-full object-cover" %>
    <div class="p-3 rounded absolute bottom-0 left-0 flex flex-col justify-center w-1/4 bg-teal-100 bg-opacity-50 space-y-2">
      <h2 class="font-bold text-lg"><%= @articles.first.title %></h2>
      <h3 class="text-sm"><%= truncate(@articles.first.text, length: 15, separator: ' ') %></h3>
      <div class="flex justify-between ">
        <p class="text-xs capitalize group bg-yellow-300 text-teal-900 group-hover:text-teal-800 rounded shadow transition duration-300 md:text-xs lg:text-sm">Author: <%= @articles.first.user.username %></p>
        <p><%= link_to 'Read More', article_path(@articles.first), class:"bg-yellow-300 bg-opacity-75 p-2 rounded-full text-red-200 text-xs italic btn btn-default group-hover:text-blue-600" %></p>
      </div>
    </div>
  </div>
  <div class="flex flex-row bg-gray-300 flex-wrap">
    <% @articles.each_with_index do |article, index| %>
      <div class="w-1/4 md:h-75 lg:h-full relative">
        <img src="/uploads/<%= article.image %>" class="object-cover md:h-40 lg:h-64 md:w-full lg:w-full" />
        <div class="p-3 rounded absolute bottom-0 bg-teal-100 bg-opacity-50 w-full space-y-2">
          <h2 class="font-bold text-lg"h2><%= article.title %></h2>
          <h3 class="text-md"><%= truncate(article.text, length: 15, separator: ' ') %></h3>
          <p class="capitalize">Author: <%= article.user.username %></p>
          <p><%= link_to 'Read More', article, class:"text-xs italic" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
