<h1>New Article</h1>

<%= form_with(model: @article, local: true) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.submit %>

<% end %>

<%= link_to 'Back', articles_path %>
